/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

h1 {
	color: var(--color-primary);
}

/* This uses the same value as --size-xs. */
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}


 .button-link-Fine {
	transition: all 0.5s;
	font-size: 17px;
	padding: 1ch 2ch;
	background-color: white;
	color: #000;
	font-family: Roboto, sans-serif;
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px 0px hsl(0, 0%, 90%),
	  4px 4px 0px hsl(0, 0%, 80%),
	  6px 6px 0px hsl(0, 0%, 70%),
	  8px 8px 0px hsl(0, 0%, 60%),
	  10px 10px 0px hsl(0, 0%, 50%),
	  12px 12px 0px hsl(0, 0%, 40%),
	  14px 14px 0px hsl(0, 0%, 30%),
	  16px 16px 0px hsl(0, 0%, 20%),
	  18px 18px 0px hsl(0, 0%, 10%);
 }

 .button-link-Fine:hover {
	background-color: hsl(0, 0%, 50%);
	color: #fff;
	box-shadow: none;
 }


 .button-link-Later {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	background-color: #f44336;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
 }


 .button-link-Tomorrow  {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	background-color: #f44336;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
 }


 .button-link-InABit {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	background-color: #f44336;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
 }


 *{
	padding: 0;
	margin: 0;
 }

 body{
	background: #f1f1f1;
	background-image: linear-gradient(
		 90deg,
		 transparent 50px,
		 #ffb4b8 50px,
		 #ffb4b8 52px,
		 transparent 52px
	  ),
	  linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
	  background-size: 100% 30px;
	  font-family: "Architects Daughter";
	  font-size: 24px;
 }

 .main-container{
	width: 95%;
	margin: auto;
 }

 button {
	font-family: monospace;
	font-size: 1.5rem;
	color: #FAFAFA;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 10px;
	border: 2px solid #FAFAFA;
	background: #252525;
	box-shadow: 3px 3px #fafafa;
	cursor: pointer;
	margin: 35px 0;
 }

 button:active {
	box-shadow: none;
	transform: translate(3px, 3px);
 }

 .container1{
	margin-left: 5%;
 }

 .container2{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-left: 5%;
 }

 .container3{
	display: none;
	position: absolute;
	top: 26%;
	left: 40%;
 }

 textarea{
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	outline: none;
	border: none;
	width: 275px;
	heightL 275px;
	padding: 40px 25px 25px 25px;
 }

 svg{
	color: gray;
 }

 #check-icon{
	position: absolute;
	right: 15%;
	bottom: 83%;
 }

 #x-icon{
	position: absolute;
	right: 5%;
	top: 4%;
 }
