.container-head {
	padding: 25px;
	text-align: left;
	color: black;
	font-size: 30px;
	border: 2.5px solid black; /* Draggable border */
	box-shadow: 2px 5px 4px rgba(0,0,0,0.5);
	border-radius: 20px;
	background: linear-gradient(270deg, #85C1E9, #E59866, #F2F3F4);
	background-size: 600% 600%;
	animation: Gradient 15s ease infinite;
 }

 /* Define the animation keyframes */
 @keyframes Gradient {
	  0% {
			background-position: 0% 50%;
	  }
	  50% {
			background-position: 100% 50%;
	  }
	  100% {
			background-position: 0% 50%;
	  }
 }

 h1{
	color: #0032a9;
 }



 body{
	background: #EEEEEE;
	font-family: "Alata", sans-serif;
	font-weight: 700;
	font-size: 36px;
 }

 .sticky-note {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: yellow;
	padding: 10px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	cursor: move; /* Change the cursor to indicate movability */
	border: 2px solid rgba(0, 0, 0, 0.2); /* Draggable border */
 }

 .sticky-note textarea {
	flex-grow: 1;
	width: calc(100% - 20px); /* Full width minus padding */
	height: calc(100% - 40px); /* Full height minus padding and border */
	border: none;
	background: transparent;
	resize: none;
	text-align: center;
	outline: none;
	font-family: "Caveat", cursive;
	font-weight: 500;
	font-size: 24px;
 }

 .custom-context-menu {
	font-size: 12px;
	display: none;
	position: absolute;
	z-index: 1000;
	width: 150px;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 5px #cfcfcf;
 }

 .custom-context-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
 }

 .custom-context-menu ul li {
	padding: 8px 12px;
	cursor: pointer;
 }

 .custom-context-menu ul li:hover {
	background-color: #f7f7f7;
 }

 .sticky-note.selected {
	border: 2px solid red; /* Example style for selected sticky notes */
 }

 /*Menu Button*/
 .menu-button {
	position: relative;
	display: flex; /* Use flexbox to center the content inside the button */
	justify-content: center; /* Center the content horizontally */
	align-items: 50%; /* Center the content vertically */
	margin: 5px;
	transform: none;
 }

 .button-dropdown-menu {
	font-family: 'Alata', sans-serif;
	background-color: #212121;
	color: white;
	padding: 3px 10px;
	font-size: 20px;
	font-weight: bold;
	border: 2px solid #F57C00;
	border-radius: 15px;
	box-shadow: 2px 5px 4px rgba(0,0,0,0.5);
	cursor: pointer;
 }

 .button-dropdown-menu svg {
	font-size: 15px; /* Set the font-size of SVG to match the button text */
	vertical-align: middle; /* Align the SVG vertically with the text */
 }

 .dropdown-content {
	display: none;
	font-size: 13px;
	position: absolute;
	z-index: 1;
	min-width: 200px;
	background-color: #212121;
	border: 2px solid #0032a9;
	border-radius: 0px 15px 15px 15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }

 .dropdown-content a {
	font-family: 'Alata', sans-serif;
	color: #F57C00;
	padding: 8px 10px;
	text-decoration: none;
	display: block;
	transition: 0.1s;
 }

 .dropdown-content a:hover {
	background-color: #EEEEEE;
	color: #212121;
 }

 .dropdown-content a:focus {
	background-color: #212121;
	color: #4CAF50;
 }

 .dropdown-content #top:hover {
	border-radius: 0px 13px 0px 0px;
 }

 .dropdown-content #bottom:hover {
	border-radius: 0px 0px 13px 13px;
 }

 .menu-button:hover button-dropdown-menu {
	border-radius: 15px 15px 0px 0px;
 }

 .menu-button:hover .dropdown-content {
	display: block;
 }
