/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/


/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/


/* This uses the same value as --size-xs. */
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}


/* Set up the animated background */
body {
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(270deg, #0000FF, #FFA500, #FFFFFF);
	background-size: 600% 600%;
	animation: Gradient 15s ease infinite;
 }

 /* Define the animation keyframes */
 @keyframes Gradient {
	  0% {
			background-position: 0% 50%;
	  }
	  50% {
			background-position: 100% 50%;
	  }
	  100% {
			background-position: 0% 50%;
	  }
 }


 .main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
 }

 .up, .down {
	display: flex;
	gap: 0.5em;
 }

 .center-card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }
 .center-card-button {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #f0f0f0;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	font-size: 24px;
	color: #333;
	cursor: pointer;
	outline: none;
 }

 /*.center-card-button:hover {
	background-color: red;
 }*/

 .card1 {
	color: white;
	width: 250px;
	height: 250px;
	outline: none;
	background: #0032A9;
	border-radius: 90px 5px 5px 5px;
	transition: .2s ease-in-out;
	border: 1.5px solid black; /* Draggable border */
	box-shadow: 2px 5px 4px rgba(0,0,0,0.5);

 }

 .bi bi-calendar-check {
	margin-top: 1.5em;
	margin-left: 1.2em;
	fill: green;
 }

 .card2 {
	width: 250px;
	height: 250px;
	outline: none;
	background: #EEEEEE;
	border-radius: 5px 90px 5px 5px;
	border: 1.5px solid black; /* Draggable border */
	box-shadow: 2px 5px 4px rgba(0,0,0,0.5);
	transition: .2s ease-in-out;
 }

 .bi bi-list-task {
	margin-top: 1.5em;
	margin-left: -.9em;
	fill: #03A9F4;
 }

 .card3 {
	color: white;
	width: 250px;
	height: 250px;
	outline: none;
	background: #212121;
	border-radius: 5px 5px 5px 90px;
	border: 1.5px solid black; /* Draggable border */
	box-shadow: 2px 5px 4px rgba(0,0,0,0.5);
	transition: .2s ease-in-out;
 }

 .bi bi-stickies-fill {
	margin-top: -.6em;
	margin-left: 1.2em;
 }

 .card4 {
	width: 250px;
	height: 250px;
	outline: none;
	background: #F57C00;
	border-radius: 5px 5px 90px 5px;
	border: 1.5px solid black; /* Draggable border */
	box-shadow: 2px 5px 4px rgba(0,0,0,0.5);
	transition: .2s ease-in-out;
 }

 .bi bi-alarm-fill {
	margin-top: -.9em;
	margin-left: -1.2em;
	fill: #8c9eff;
 }

 .card1:hover {
	cursor: pointer;
	scale: 1.1;
	background-color: #cc39a4;
 }

 .card1:hover .bi bi-calendar-check {
	fill: white;
 }

 .card2:hover {
	cursor: pointer;
	scale: 1.1;
	background-color: #03A9F4;
 }

 .card2:hover .bi bi-list-task {
	fill: white;
 }

 .card3:hover {
	cursor: pointer;
	scale: 1.1;
	background-color: black;
 }

 .card3:hover .bi bi-stickies-fill {
	fill: white;
 }

 .card4:hover {
	cursor: pointer;
	scale: 1.1;
	background-color: #8c9eff;
 }

 .card4:hover .bi bi-alarm-fill {
	fill: white;
 }




 p {
	margin: 10px auto;
	font-family: 'Atlata', sans-serif;
 }

 .form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: #EEEEEE;
	padding: 1em; /* Adjusted padding */
	border-radius: 25%; /* This will create a circle */
	transition: 0.4s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
	width: 475px; /* Adjusted width */
	height: 225px; /* Height equal to the width for a perfect circle */
	/* Other styles remain unchanged */
 }


 .form:hover {
	transform: translateX(-0.5em) translateY(-0.5em);
	border: 1px solid #171717;
	box-shadow: 10px 10px 0px #666666;
 }

 .heading {
	color: #0032a9;
	padding-bottom: 2em;
	text-align: center;
	font-weight: bold;
	padding: 1px;
 }

 .input {
	width: 50%;
	border-radius: 5px;
	border: 1px solid whitesmoke;
	background-color: whitesmoke;
	outline: none;
	padding: 0.7em;
	transition: 0.4s ease-in-out;
	margin: 1px auto;
 }

 .input:hover {
	box-shadow: 6px 6px 0px #969696, -3px -3px 10px #ffffff;
 }

 .input:focus {
	background: #ffffff;
	box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
 }

 .button-container-login-register {
	display: flex;
	justify-content: center;
	gap: 20px; /* Space between buttons */
	margin-top: 1em;
 }

 .btn-register,
 .btn-login {
	padding: 0.7em 1em;
	border-radius: 10px;
	border: none;
	color: black;
	transition: 0.4s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
 }

 .btn-register:hover,
 .btn-login:hover {
	box-shadow: 6px 6px 0px #969696, -3px -3px 10px #ffffff;
	transform: translateX(-0.5em) translateY(-0.5em);
 }

 .btn-register:active,
 .btn-login:active {
	transition: 0.2s;
	transform: translateX(0em) translateY(0em);
	box-shadow: none;
 }

